.locataire-card {
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
      width: 100%;
    }
    h2 {
      margin-bottom: 0;
    }
    p {
      font-weight: 300;
      font-size: 16px;
    }
    .suppr{
      background-color: rgb(184, 53, 53);
    }
  

